<section id="contact" class="py-20 bg-background relative overflow-hidden">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-10 text-white">
  Get In Touch
</h2>

    <div class="grid lg:grid-cols-2 gap-20">
      <!-- Form -->
    <form action="mailto:binyanyadebby@gmail.com" method="POST" enctype="text/plain" class="space-y-6 bg-card/30 p-6 rounded-lg shadow">
    <div>
      <textarea rows="14" class="w-full p-3 rounded bg-background/50 border border-primary/20 text-black" required></textarea>
    </div>
    <button type="submit" class="w-full py-3 bg-gradient-primary rounded-lg text-white">Send Message</button>
  </form>

      <!-- Info -->
      <div class="mt-12 text-white space-y-6">
        <p class="mb-6">📧 Email: <a href="mailto:binyanyadebby@gmail.com">deborah.binyanya@gmail.com</a>
        <p class="mb-6">📞 Phone: +254 742 222 670</p>
        <p class="mb-6">📍 Nairobi, Kenya</p>
        <div class="flex space-x-6 mt-6">
          <a href="https://www.linkedin.com/in/deborah-nyatichi-886b04206/" target="_blank" class="px-4 py-2 bg-gradient-primary text-white rounded-lg">LinkedIn</a>
          <a href="https://github.com/debrahnyatichi" target="_blank" class="px-4 py-2 bg-gradient-primary text-white rounded-lg">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</section>
